# Force the identification of a file as Python
src/*      linguist-language=Python

# Ignore Jupyter notebooks if code is elsewhere
jupyter/* linguist-documentation=true
.ipynb_checkpoints/*

# Ignore data files
Data/* linguist-generated=true
data/* linguist-generated=true
__pycache__/* linguist-generated=true
LICENSE linguist-documentation=true
README.md linguist-documentation=true

