__pycache__/
*.py[cod]

test_data/empirical/Brachycephalus_RNAseq_concat_trimmed_75_4_IQTREE.phy
test_data/empirical/Brachycephalus_RNAseq_concat_trimmed_75_4_IQTREE.phy
test_data/empirical/Brachycephalus_RNAseq_concat_trimmed_75_4_IQTREE.phy
test_data/empirical/Brachycephalus_RNAseq_concat_trimmed_75_4_IQTREE.phy
